@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-image: url(../images/salons-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  /* line 13, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-wrap {
    margin: 30px 35px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 20, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 25, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .mini-text {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
  }
  /* line 30, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .main-text {
    font-size: 24px;
    text-align: center;
  }
  /* line 34, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 39, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  /* line 44, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  /* line 50, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link::before {
    content: "";
    display: inline-block;
    background-image: url(../images/maling-vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin-right: 20px;
  }
  /* line 61, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    padding: 14px 15px 14px 15px;
    margin-bottom: 60px;
  }
  /* line 69, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit-wrap {
    background-color: #fff;
    padding: 20px 22px 20px 22px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  /* line 76, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .input-email {
    color: rgba(51, 51, 51, 0.5);
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px 87px 14px 42px;
  }
  /* line 82, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .btn-submit {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 15px 35px 15px 35px;
    border: 1px solid #FFFFFF;
    background: #333333;
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  /* line 95, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling {
    min-width: 1024px;
  }
  /* line 98, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-wrap {
    margin: 100px 0px 0px 0px;
  }
  /* line 101, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 104, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 107, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-content {
    flex-direction: row;
    align-items: center;
    vertical-align: top;
    margin-top: 60px;
    margin-bottom: 120px;
    justify-content: space-between;
  }
  /* line 115, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-links {
    margin-top: 0;
    margin-right: 80px;
  }
  /* line 119, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link:last-child {
    margin-bottom: 0;
  }
  /* line 122, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit-wrap {
    flex-direction: row;
  }
  /* line 125, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit {
    margin-bottom: 0;
  }
  /* line 128, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .input-email {
    margin-right: 15px;
  }
  /* line 131, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .btn-submit {
    margin-top: 0;
  }
}

/*# sourceMappingURL=maling.css.map */