@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    min-width: 320px;
    color: #333333;
  }
  /* line 11, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .products-wrapper {
    margin: 80px 15px 0px 15px;
  }
  /* line 14, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .content-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  /* line 20, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .title-sect {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  /* line 26, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .mini-text {
    margin-bottom: 18px;
  }
  /* line 29, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .main-text {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Noto-Serif';
  }
  /* line 34, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .holidays {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 41, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .holiday {
    width: 30%;
    font-size: 14px;
    border: 1px solid #D6D6D6;
    background: #F9F9F9;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    padding: 6px 0px 6px 0px;
    box-shadow: 6px 6px 6px 1px #D6D6D6;
  }
  /* line 54, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .holiday:active, .holiday:hover {
    background: #333333;
    box-shadow: 6px 6px #333333;
    color: #fff;
    border: #333333;
  }
  /* line 60, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .cards-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  /* line 67, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: flex;
    vertical-align: bottom;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 280px;
  }
  /* line 84, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(1) {
    background-image: url(../images/rings.svg);
    margin-top: 0;
  }
  /* line 88, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(2) {
    background-image: url(../images/earrings.svg);
  }
  /* line 91, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(3) {
    background-image: url(../images/pendant.svg);
  }
  /* line 94, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(4) {
    background-image: url(../images/cufflinks.svg);
  }
  /* line 97, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(5) {
    background-image: url(../images/braslets.svg);
  }
  /* line 100, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(6) {
    background-image: url(../images/clock.svg);
  }
}

@media (min-width: 1024px) {
  /* line 105, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .products {
    min-width: 1024px;
  }
  /* line 108, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .products-wrapper {
    margin: 100px 0px 0px 0px;
  }
  /* line 111, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .content-products {
    margin-bottom: 120px;
  }
  /* line 114, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 117, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 120, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .holidays {
    margin-top: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* line 126, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .holiday {
    width: auto;
    margin-top: 0;
    margin-right: 18px;
    padding: 6px 35px 6px 35px;
  }
  /* line 132, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .cards-products {
    margin-top: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1110px;
  }
  /* line 140, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products {
    margin: 0px 0px 30px 0px;
  }
  /* line 143, ../../Documents/ojjo_jewerly/promo/scss/sectproducts.scss */
  .card-products:nth-child(4), .card-products:nth-child(5), .card-products:nth-child(6) {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-image: url(../images/salons-bg.svg);
    background-position: center;
    color: #fff;
  }
  /* line 11, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons-wrap {
    margin: 30px 35px 0px 35px;
  }
  /* line 14, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }
  /* line 21, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .mini-text {
    font-weight: normal;
    font-size: 18px;
  }
  /* line 25, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .main-text {
    font-size: 24px;
  }
  /* line 28, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .text {
    margin-top: 45px;
    font-size: 15px;
    text-align: center;
  }
  /* line 33, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons-btn {
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    border: 1px solid #333333;
    padding: 15px 35px 15px 35px;
  }
}

@media (min-width: 1024px) {
  /* line 45, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons {
    min-width: 1024px;
  }
  /* line 48, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons-wrap {
    margin: 100px 0px 0px 0px;
  }
  /* line 51, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .salons-content {
    margin-bottom: 100px;
    max-width: 730px;
  }
  /* line 55, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 58, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 61, ../../Documents/ojjo_jewerly/promo/scss/salons.scss */
  .text {
    font-size: 18px;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-color: #fff;
    color: #333;
  }
  /* line 10, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-wrap {
    margin: 30px 35px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 17, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 23, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .mini-text {
    font-weight: normal;
    font-size: 18px;
  }
  /* line 27, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .main-text {
    font-size: 24px;
  }
  /* line 30, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  /* line 37, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: flex;
    vertical-align: bottom;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 72px 35px 72px;
    margin-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 370px;
  }
  /* line 53, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card:nth-child(1) {
    background-image: url(../images/wife.svg);
  }
  /* line 56, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card:nth-child(2) {
    background-image: url(../images/husband.svg);
  }
  /* line 59, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card:nth-child(3) {
    background-image: url(../images/newlyweds.svg);
  }
  /* line 63, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-btn {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 15px 35px 15px 35px;
    border: 1px solid #FFFFFF;
    background: #333333;
    margin-bottom: 60px;
  }
}

@media (min-width: 1024px) {
  /* line 76, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article {
    min-width: 1024px;
  }
  /* line 79, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-wrap {
    margin: 120px 0px 0px 0px;
  }
  /* line 82, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 85, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 88, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-cards {
    margin-top: 60px;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 1110px;
  }
  /* line 94, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card {
    margin-top: 0;
    margin-right: 30px;
  }
  /* line 98, ../../Documents/ojjo_jewerly/promo/scss/article.scss */
  .article-card:nth-child(3) {
    margin-right: 0;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-color: #fff;
    color: #333;
  }
  /* line 10, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-wrap {
    margin: 30px 35px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 17, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 22, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .mini-text {
    font-weight: normal;
    font-size: 18px;
  }
  /* line 26, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .main-text {
    font-size: 24px;
  }
  /* line 29, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 1110px;
  }
  /* line 39, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card {
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 43, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(1) {
    max-width: 555px;
    max-height: 300px;
    min-width: 300px;
    min-height: 162px;
    background-image: url(../images/video-ring.svg);
  }
  /* line 50, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(1)::before, .social-card:nth-child(6)::before {
    content: "";
    display: flex;
    position: relative;
    left: 40%;
    margin-top: 15%;
    background-image: url(../images/video.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
  }
  /* line 64, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(2) {
    max-width: 278px;
    max-height: 300px;
    min-width: 150px;
    min-height: 163px;
    background-image: url(../images/socialimg1.svg);
  }
  /* line 71, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(3) {
    max-width: 277px;
    max-height: 300px;
    min-width: 150px;
    min-height: 163px;
    background-image: url(../images/socialimg2.svg);
  }
  /* line 78, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(4) {
    max-height: 300px;
    max-width: 278px;
    min-width: 150px;
    min-height: 163px;
    background-image: url(../images/socialimg3.svg);
  }
  /* line 85, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(5) {
    max-height: 300px;
    max-width: 278px;
    min-width: 150px;
    min-height: 163px;
    background-image: url(../images/socialimg4.svg);
  }
  /* line 92, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(6) {
    max-width: 555px;
    max-height: 300px;
    min-width: 300px;
    min-height: 162px;
    background-image: url(../images/video-ring2.svg);
  }
}

@media (min-width: 1024px) {
  /* line 101, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-networks {
    min-width: 1024px;
  }
  /* line 104, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-wrap {
    margin: 60px 0px 0px 0px;
  }
  /* line 107, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 110, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 113, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-cards {
    justify-content: center;
    margin-bottom: 150px;
  }
  /* line 117, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(1), .social-card:nth-child(6) {
    min-width: 500px;
    min-height: 270px;
  }
  /* line 122, ../../Documents/ojjo_jewerly/promo/scss/social.scss */
  .social-card:nth-child(2), .social-card:nth-child(3), .social-card:nth-child(4), .social-card:nth-child(5) {
    min-width: 250px;
    min-height: 270px;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-image: url(../images/salons-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  /* line 13, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-wrap {
    margin: 30px 35px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 20, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 25, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .mini-text {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
  }
  /* line 30, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .main-text {
    font-size: 24px;
    text-align: center;
  }
  /* line 34, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 39, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  /* line 44, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  /* line 50, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link::before {
    content: "";
    display: inline-block;
    background-image: url(../images/maling-vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin-right: 20px;
  }
  /* line 61, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    padding: 14px 15px 14px 15px;
    margin-bottom: 60px;
  }
  /* line 69, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit-wrap {
    background-color: #fff;
    padding: 20px 22px 20px 22px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  /* line 76, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .input-email {
    color: rgba(51, 51, 51, 0.5);
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px 87px 14px 42px;
  }
  /* line 82, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .btn-submit {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 15px 35px 15px 35px;
    border: 1px solid #FFFFFF;
    background: #333333;
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  /* line 95, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling {
    min-width: 1024px;
  }
  /* line 98, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-wrap {
    margin: 100px 0px 0px 0px;
  }
  /* line 101, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .mini-text {
    font-size: 21px;
  }
  /* line 104, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .main-text {
    font-size: 30px;
  }
  /* line 107, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-content {
    flex-direction: row;
    align-items: center;
    vertical-align: top;
    margin-top: 60px;
    margin-bottom: 120px;
    justify-content: space-between;
  }
  /* line 115, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-links {
    margin-top: 0;
    margin-right: 80px;
  }
  /* line 119, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-link:last-child {
    margin-bottom: 0;
  }
  /* line 122, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit-wrap {
    flex-direction: row;
  }
  /* line 125, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .maling-submit {
    margin-bottom: 0;
  }
  /* line 128, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .input-email {
    margin-right: 15px;
  }
  /* line 131, ../../Documents/ojjo_jewerly/promo/scss/maling.scss */
  .btn-submit {
    margin-top: 0;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    background-color: #fff;
    color: #333;
  }
  /* line 10, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-wrap {
    margin: 30px 35px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 17, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 23, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-links {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  /* line 29, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-links:nth-child(3), .footer-links:nth-child(4) {
    margin-bottom: 0;
  }
  /* line 32, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-main-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
  }
  /* line 37, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-main-text::after {
    content: "";
    display: block;
    background-image: url(../images/divider-horizintal-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 1px;
    width: 98%;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  /* line 49, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-link {
    text-decoration: none;
    font-size: 12px;
    color: #333;
    margin-bottom: 15px;
  }
  /* line 55, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-link:last-child {
    margin-bottom: 0;
  }
  /* line 58, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-text {
    font-size: 12px;
  }
  /* line 61, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .payment {
    display: flex;
    flex-direction: row;
    margin-top: 21px;
  }
  /* line 66, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .visa, .mastercard {
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 30px;
  }
  /* line 72, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .visa {
    background-image: url(../images/visa.svg);
    margin-right: 20px;
  }
  /* line 76, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .mastercard {
    background-image: url(../images/mastercard.svg);
  }
  /* line 79, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .contacts-link {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    margin-bottom: 15px;
  }
  /* line 85, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .contacts-link:last-child {
    margin-bottom: 0;
  }
  /* line 88, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .contacts-link:nth-child(2)::before, .contacts-link:nth-child(3)::before, .contacts-link:nth-child(4)::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 20px;
  }
  /* line 97, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .contacts-link:nth-child(2)::before, .contacts-link:nth-child(3)::before {
    background-image: url(../images/phone.svg);
  }
  /* line 100, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .contacts-link:nth-child(4)::before {
    background-image: url(../images/email-vector.svg);
  }
  /* line 103, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 27px;
  }
  /* line 109, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(1)::before, .social-networks-mini-link:nth-child(2)::before,
  .social-networks-mini-link:nth-child(3)::before, .social-networks-mini-link:nth-child(4)::before,
  .social-networks-mini-link:nth-child(5)::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 118, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(1)::before {
    background-image: url(../images/youtube-vector.svg);
    width: 23px;
    height: 16px;
  }
  /* line 123, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(2)::before {
    background-image: url(../images/vk-vector.svg);
    width: 24px;
    height: 14px;
  }
  /* line 128, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(3)::before {
    background-image: url(../images/facebook-vector.svg);
    width: 10px;
    height: 20px;
  }
  /* line 133, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(4)::before {
    background-image: url(../images/telegram-vector.svg);
    width: 20px;
    height: 17px;
  }
  /* line 138, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .social-networks-mini-link:nth-child(5)::before {
    background-image: url(../images/e-vector.svg);
    width: 14px;
    height: 16px;
  }
  /* line 143, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-info {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  /* line 151, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-info::before {
    content: "";
    display: block;
    width: 100%;
    background-image: url(../images/divider-horizintal-black.svg);
    height: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
  }
  /* line 162, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-info-link {
    text-decoration: none;
    font-size: 12px;
    color: #333;
    margin-bottom: 15px;
  }
  /* line 168, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-info-link:nth-child(3), .footer-info-link:nth-child(4) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  /* line 173, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer {
    min-width: 1024px;
  }
  /* line 176, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-wrap {
    margin: 80px 0px 0px 0px;
  }
  /* line 179, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-main-content {
    flex-direction: row;
    max-width: 1110px;
    justify-content: space-around;
  }
  /* line 184, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-links {
    width: 25%;
    margin-bottom: 0;
  }
  /* line 188, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-main-text {
    font-size: 18px;
  }
  /* line 191, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-link, .footer-text, .contacts-link, .footer-info-link {
    font-size: 14px;
  }
  /* line 194, ../../Documents/ojjo_jewerly/promo/scss/footer.scss */
  .footer-info {
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background-color: #333;
    color: #fff;
  }
  /* line 14, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .mobile-wrap {
    margin: 30px 35px 0px 45px;
    display: flex;
    flex-direction: column;
  }
  /* line 19, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 24, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .close-menu {
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
  }
  /* line 30, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .close-menu::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../images/close-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 40, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .menu-links {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  /* line 45, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .menu-links::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-image: url(../images/divider_horizontal.svg);
    margin-top: 35px;
  }
  /* line 53, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .menu-link {
    text-decoration: none;
    font-size: 21px;
    margin-bottom: 30px;
    color: #fff;
  }
  /* line 59, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .menu-link:last-child {
    margin-bottom: 0;
  }
  /* line 62, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .for-users {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
  }
  /* line 67, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .for-users-container {
    display: flex;
    flex-direction: row;
  }
  /* line 71, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .user::before, .like::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* line 78, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .user::before {
    background-image: url(../images/user.svg);
    width: 34px;
    height: 34px;
    margin-right: 45px;
  }
  /* line 84, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .like::before {
    background-image: url(../images/like.svg);
    width: 36px;
    height: 32px;
  }
  /* line 89, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .for-users::after {
    content: "";
    display: block;
    background-image: url(../images/divider_horizontal.svg);
    width: 100%;
    height: 1px;
    margin-top: 33px;
    margin-bottom: 32px;
  }
  /* line 98, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 103, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .youtube::before, .vk::before, .facebook::before, .telegram::before, .e::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* line 110, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .youtube::before {
    background-image: url(../images/youtube-white.svg);
    width: 34px;
    height: 24px;
  }
  /* line 115, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .vk::before {
    background-image: url(../images/vk-white.svg);
    width: 36px;
    height: 21px;
  }
  /* line 120, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .facebook::before {
    background-image: url(../images/facebook-white.svg);
    width: 16px;
    height: 29px;
  }
  /* line 125, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .telegram::before {
    background-image: url(../images/telegram-white.svg);
    width: 30px;
    height: 25px;
  }
  /* line 130, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .e::before {
    background-image: url(../images/e-white.svg);
    width: 21px;
    height: 24px;
  }
  /* line 135, ../../Documents/ojjo_jewerly/promo/scss/burger.scss */
  .show-menu {
    display: block;
  }
}

/* line 8, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 13, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
body {
  font-size: 18px;
  font-family: 'Gilroy';
}

@media (min-width: 320px) {
  /* line 18, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bg_main.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 320px;
    color: #fff;
  }
  /* line 30, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .wrapper-promo {
    margin: 30px 35px 0px 35px;
  }
  /* line 33, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .menu {
    display: none;
  }
  /* line 36, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  /* line 42, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .logo-img {
    width: 216px;
    height: 52px;
  }
  /* line 46, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .mobile-btn {
    width: 34px;
    height: 30px;
    background-image: url(../images/mobile_btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
  }
  /* line 56, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 120px;
  }
  /* line 65, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .btn {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 15px 35px 15px 35px;
    border: 1px solid #FFFFFF;
    background: #333333;
  }
  /* line 75, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .title {
    font-family: 'Noto-Serif';
    font-size: 36px;
    font-weight: bold;
  }
  /* line 80, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .cards {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* line 87, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .wrapper-promo {
    margin: 25px 0px 0px 0px;
  }
  /* line 90, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .promo {
    background-image: url(../images/main_pic.svg);
    min-width: 868px;
    align-items: stretch;
    height: 100vh;
  }
  /* line 96, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .header {
    justify-content: space-around;
  }
  /* line 99, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .mobile-btn {
    display: none;
  }
  /* line 102, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 18px;
  }
  /* line 108, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .link {
    font-size: 14px;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
  }
  /* line 114, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .link:nth-child(3) {
    margin-right: 0;
  }
  /* line 118, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .search::before, .user::before, .like::before, .divider-horizontal::before, .divider-vertical::after,
  .card-img::before {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
  /* line 128, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .search::before {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    background-image: url(../images/search.svg);
    margin-right: 16px;
  }
  /* line 136, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .user::before {
    width: 16px;
    height: 16px;
    background-image: url(../images/user.svg);
    margin-right: 30px;
  }
  /* line 142, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .like::before {
    width: 17px;
    height: 15px;
    background-image: url(../images/like.svg);
  }
  /* line 147, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .logo {
    width: 216px;
    height: 52px;
  }
  /* line 151, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .content {
    margin-bottom: 80px;
    margin-top: 200px;
  }
  /* line 155, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 160, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .divider-horizontal::before {
    background-image: url(../images/divider_horizontal.svg);
    width: 100%;
    height: 1px;
  }
  /* line 165, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin-top: 30px;
  }
  /* line 173, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .card {
    display: flex;
    flex-direction: row;
  }
  /* line 177, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .card-img::before {
    display: inline-block;
    width: 160px;
    height: 60px;
    background-image: url(../images/cards_main.svg);
  }
  /* line 183, ../../Documents/ojjo_jewerly/promo/scss/style.scss */
  .divider-vertical::after {
    width: 0.9px;
    height: 60px;
    background-image: url(../images/divider-vertical.svg);
  }
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Noto-Serif";
  src: url(../fonts/Noto_Serif/NotoSerif-Regular.ttf);
}

/*# sourceMappingURL=style.css.map */